In [1]:
import pandas as pd

date = {'字串':['台北','台中'],
        '整數':[1000,3000],
        '福點數':[3.258,7.369]}

df = pd.DataFrame(date)
display(df)

   字串    整數    福點數
0  台北  1000  3.258
1  台中  3000  7.369

In [6]:
#視覺美化資料表
#pip install jinja2
df.style\
    .format(precision=2,thousands=',',decimal='.')\
    .relabel_index(['列1','列2'])

In [2]:
import numpy as np

date = np.random.rand(10,2)*2
df = pd.DataFrame(date,
                  index=pd.date_range(start='2023-09-01',periods=10),
                  columns=['台北','台中']
                  )
df

                  台北        台中
2023-09-01  0.662718  1.747558
2023-09-02  1.892289  1.238630
2023-09-03  0.901316  1.047346
2023-09-04  1.440687  0.202724
2023-09-05  1.825453  1.426121
2023-09-06  1.058234  1.232135
2023-09-07  0.278138  0.907262
2023-09-08  1.596370  1.650134
2023-09-09  0.841144  1.079401
2023-09-10  1.227733  1.265752

In [13]:
#視覺美化資料表
def feel_condition(v):
    if v <1.75:
        return '溫暖'
    elif v<2.75:
        return '潮濕'
    else:
        return '日照'
    
df.style\
.format(feel_condition)\
.set_caption("體感溫度")\
.background_gradient(cmap='PuBuGn',vmin=1,vmax=5,axis=None)

In [17]:
#隱藏資料
df = pd.DataFrame(np.random.rand(5,5))
df.style\
.hide(subset=[0,2,4],axis=0)\
.hide(subset=[1,3],axis=1)

In [11]:
df = pd.DataFrame(np.random.randn(10,4),
             columns=['A','B','C','D'])
display(df)

def style_negative(v,props=''):
    return props if v < 0 else None
df.style\
.map(style_negative,props='color:red;')

          A         B         C         D
0  2.439528 -0.787490  1.269616 -0.049625
1 -0.725873 -0.700803 -1.073616 -1.172255
2  0.067312  0.490900  1.402632 -1.641091
3 -0.148726  0.747990  0.129829 -0.672989
4 -1.264471  0.050905  1.300569 -1.464228
5 -1.441682  1.343449  0.493595 -1.702339
6  1.968809  0.759364 -0.047328 -2.380927
7 -0.752329 -1.346426  1.025610 -0.844636
8 -0.144185  0.318824 -0.024189  0.132269
9 -0.634919 -0.516206 -1.212450  0.829696

In [12]:
pd.read_csv("學生成績.csv")

    學號   姓名   國文   英文   數學   地理  歷史   總分    平均
0    1  盧冠發   95   57   96   80  59  387  77.4
1    2  林佳人   70   58   83   78  66  355  71.0
2    3  林益妏   56   97   93   57  72  375  75.0
3    4  藍哲嘉   75   93   83   57  64  372  74.4
4    5  王柏聖   55   55   71   90  94  365  73.0
5    6  鞠冠宇   52   91   89   71  77  380  76.0
6    7  林益妏   63   70   80   69  91  373  74.6
7    8  王人仰   55   82   59   84  81  361  72.2
8    9  張俊傑   72   61   76   86  87  382  76.4
9   10  黃雅慧   94   80   66   55  68  363  72.6
10  11  詹忠光   60   91   61   85  56  353  70.6
11  12  張軒宸   64   91   74   73  69  371  74.2
12  13  林清英   96   66   99   84  77  422  84.4
13  14  劉耿琦   99   55   81   85  64  384  76.8
14  15  陳彥治   60   87   56   67  82  352  70.4
15  16  陳向愛   93   90   69   68  81  401  80.2
16  17  陳逸凡   75   67   68   84  73  367  73.4
17  18  艾巧夫   63   97   75   86  81  402  80.4
18  19  魏秋萍   74   54   93   54  56  331  66.2
19  20  余宗儒   92   99   89   73  88  441  88.2
20  21  趙家豪  100   60   68   74  95  397  79.4
21  22  鍾俞禎   63   66   91   73  81  374  74.8
22  23  王惠皓   57   53   85   72  89  356  71.2
23  24  黃彥孝   82   76   68   55  72  353  70.6
24  25  林珍旺   70   76   87   69  93  395  79.0
25  26  吳晴洋   92   85   54   53  55  339  67.8
26  27  謝哲維   77   70   77   66  67  357  71.4
27  28  王坤安   93   54   92   93  57  389  77.8
28  29  吳昕婷   97   65   99  100  57  418  83.6
29  30  蔡世馨   55   80   61   91  99  386  77.2
30  31  王良斌   94   57   56   68  63  338  67.6
31  32  黃旻林   68   84   86   77  62  377  75.4
32  33  黃詩妃   73  100   66   52  71  362  72.4
33  34  趙偉銘   97   80   94   75  93  439  87.8
34  35  黃淑芬   92   88   63   73  59  375  75.0
35  36  黃嘉琪   85   62   56   89  85  377  75.4
36  37  林康亮   85   95   63   84  99  426  85.2
37  38  張凡成   98   59   72   85  85  399  79.8
38  39  黃淑芬   64   61   94   56  86  361  72.2
39  40  張彥博   97   70   87   68  64  386  77.2
40  41  胡芳瑜   59   74   97   87  61  378  75.6
41  42  陳志偉   77   72   64   86  57  356  71.2
42  43  楊火帆   99   51   75   51  82  358  71.6
43  44  周琬婷   83   85   59   54  97  378  75.6
44  45  楊偉翔   85   56   71   56  82  350  70.0
45  46  馮淑芬   75   90   66   81  57  369  73.8
46  47  吳俐芷   84   71   95   59  83  392  78.4
47  48  王柏聖   50   95   84   73  92  394  78.8
48  49  賴心怡   86   72   76   73  59  366  73.2
49  50  方筠紹   92   57  100   99  84  432  86.4