In [1]:
import numpy as np
import pandas as pd

data = pd.Series(np.random.randn(9),
                index=[['a', 'a', 'a', 'b', 'b', 'c', 'c', 'd', 'd'],
                       [1, 2, 3, 1, 2, 3, 1, 2, 3]])
data

a  1    0.466943
   2    0.034111
   3   -0.111616
b  1   -1.215734
   2   -0.649926
c  3   -0.093112
   1    1.692109
d  2   -1.336277
   3   -1.365930
dtype: float64

In [2]:
data['a']

1    0.466943
2    0.034111
3   -0.111616
dtype: float64

In [3]:
data['b']

1   -1.215734
2   -0.649926
dtype: float64

In [5]:
data.unstack()

          1         2         3
a  0.466943  0.034111 -0.111616
b -1.215734 -0.649926       NaN
c  1.692109       NaN -0.093112
d       NaN -1.336277 -1.365930

In [7]:
data.unstack().stack()

a  1    0.466943
   2    0.034111
   3   -0.111616
b  1   -1.215734
   2   -0.649926
c  1    1.692109
   3   -0.093112
d  2   -1.336277
   3   -1.365930
dtype: float64