In [2]:
import pandas as pd 
import numpy as np

frame = pd.DataFrame(np.random.randn(4,3),
             columns=['b','d','e'],
             index=['台北','台中','台南','高雄'])
frame

           b         d         e
台北 -1.428283  0.111624 -1.108919
台中  1.820775 -1.155302 -0.760913
台南  0.630200 -0.938169 -1.617960
高雄 -0.258792 -0.112567 -0.190253

In [3]:
np.abs(frame)

           b         d         e
台北  1.428283  0.111624  1.108919
台中  1.820775  1.155302  0.760913
台南  0.630200  0.938169  1.617960
高雄  0.258792  0.112567  0.190253

In [5]:
#使用numpy做統計
display(np.mean(frame,axis=0))
display(np.mean(frame,axis=1))

b    0.190975
d   -0.523603
e   -0.919511
dtype: float64

台北   -0.808526
台中   -0.031813
台南   -0.641976
高雄   -0.187204
dtype: float64

In [6]:
#DateFrame.mean
pd.DataFrame.mean(frame)

b    0.190975
d   -0.523603
e   -0.919511
dtype: float64

In [10]:
frame.loc['台北'].mean()

-0.8085258555999325

In [9]:
np.mean(frame.loc['台北'])

-0.8085258555999325