In [6]:
import pandas as pd
import numpy as np

s1 = pd.Series([4.5,7.2,-5.3,3.6],index=['b','c','d','a'])
s1

b    4.5
c    7.2
d   -5.3
a    3.6
dtype: float64

In [7]:
s1.index

Index(['b', 'c', 'd', 'a'], dtype='object')

In [8]:
s1.values

array([ 4.5,  7.2, -5.3,  3.6])

In [9]:
#reindex()
s1.reindex(['a','b','c','d'])

a    3.6
b    4.5
c    7.2
d   -5.3
dtype: float64

In [10]:
s1.reindex(['a','b'])

a    3.6
b    4.5
dtype: float64

In [17]:
fram = pd.DataFrame(np.arange(9).reshape(3,3),
             index=['a','b','c'],
             columns=['台北','台中','高雄'])

fram

   台北  台中  高雄
a   0   1   2
b   3   4   5
c   6   7   8

In [18]:
fram.reindex(['a','c'])

   台北  台中  高雄
a   0   1   2
c   6   7   8

In [19]:
fram.reindex(['a','d '])

   台北  台中  高雄
a   0   1   2
b   3   4   5
c   6   7   8