In [8]:
#使嗽list建立Series
import pandas as pd

s1=pd.Series([4, 7, -5, 3],index={'國文','英文','數學','歷史'})
s1

歷史    4
國文    7
數學   -5
英文    3
dtype: int64

In [2]:
#使用index,values
s1.index

Index(['歷史', '國文', '數學', '英文'], dtype='object')

In [9]:
s1.values

array([ 4,  7, -5,  3])

In [3]:
#自訂Series的index 

s2=pd.Series([4, 7, -5, 3],index=('a','b','c','d'))
s2

a    4
b    7
c   -5
d    3
dtype: int64

In [12]:
s2.index

Index(['a', 'b', 'c', 'd'], dtype='object')

In [13]:
s2.values

array([ 4,  7, -5,  3])

In [11]:
display(s2)
print('==========')
display(s2['a'])
print('==========')
s2['a']=5
print('==========')
display(s2['a'])
print('==========')
s2[['c','b','d']]

a    5
b    7
c   -5
d    3
dtype: int64

==========

5

==========
==========

5

==========

c   -5
b    7
d    3
dtype: int64

In [6]:
import numpy as np

display(s2)
print('============')
s2*2
np.exp(s2)

a    4
b    7
c   -5
d    3
dtype: int64

============

a      54.598150
b    1096.633158
c       0.006738
d      20.085537
dtype: float64

In [7]:
'e' in s2,'a' in s2

(False, True)

In [10]:
#利用dict建立Series
sdata={'國文':78,'英文':86,'數學':96,'地理':64,'歷史':92}
s3 = pd.Series(sdata,index=['國文','數學','英文'])
s3

國文    78
數學    96
英文    86
dtype: int64

In [11]:
s4 = pd.Series(sdata,index=['國文','數學','探索'])
s4

國文    78.0
數學    96.0
探索     NaN
dtype: float64

In [12]:
#使用pandas.isnull
pd.isnull(s4)

國文    False
數學    False
探索     True
dtype: bool

In [13]:
pd.notnull(s4)

國文     True
數學     True
探索    False
dtype: bool

In [14]:
#實體方法
s4.isnull()

國文    False
數學    False
探索     True
dtype: bool

In [15]:
s4.notnull()

國文     True
數學     True
探索    False
dtype: bool

In [17]:
sdata = {'台北':35000,'桃園':71000,'台中':16000,'高雄':5000}
s5=pd.Series(sdata)
display(s5)
print("===============")
sdata = {'台北':25000,'桃園':60000,'台中':17000,'高雄':15000}
s6=pd.Series(sdata)
display(s6)
print("===============")
s5+s6

台北    35000
桃園    71000
台中    16000
高雄     5000
dtype: int64

===============

台北    25000
桃園    60000
台中    17000
高雄    15000
dtype: int64

===============

台北     60000
桃園    131000
台中     33000
高雄     20000
dtype: int64

In [19]:
s5
s5['台北'] = None
display(s5)
print('==============')
display(s6)
print('==============')

s5+s6

台北        NaN
桃園    71000.0
台中    16000.0
高雄     5000.0
dtype: float64

==============

台北    25000
桃園    60000
台中    17000
高雄    15000
dtype: int64

==============

台北         NaN
桃園    131000.0
台中     33000.0
高雄     20000.0
dtype: float64